<div class="row">

<!--Divided page into 8:4 -->
<div class="col-sm-8">
<h1 class="text-center text-lg-left">Tornado</h1>
<p>
	
</p>
</div>

<!--image on about page-->
<div class="col-sm-4"><img class="rounded" src="" alt="image" width= height= /><!--include image for conatct page--></div>
</div>