<!--Main Content of the Page-->
<main>
  <br><br>
  <h1 class="display-5 text-center mb-5">  <%= title %>  </h1>
  <!--<main class="container p-1 bg-dark-80">-->

  <div class="container py-4">
    <div class="row text-center">

    <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5 team-member">
        <div class="color-red3 rounded shadow-sm py-5 px-4">
          <img src="/assets/images/profile1.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Heesoo Lim</h5><span class="small text-uppercase text-muted">Project Manager</span>
          <ul class="social mb-0 list-inline mt-3">
            <!--<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>-->
            <li class="list-inline-item"><a href="https://github.com/HeesooLim" class="social-link"><i class="fab fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/heesoo-lim" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="list-inline-item"><a href="https://hl-authentication-portfolio.herokuapp.com/home" class="social-link"><i class="fas fa-desktop"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5 team-member">
        <div class="color-red3 rounded shadow-sm py-5 px-4">
          <img src="/assets/images/profile4.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Gurkirat Khaira</h5><span class="small text-uppercase text-muted">Lead Software Engineer</span>
          <ul class="social mb-0 list-inline mt-3">
            <!--<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>-->
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/gurkirat-khaira" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/khaira777" class="social-link"><i class="fab fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/gurkirat_khaira/" class="social-link"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5 team-member">
        <div class="color-red3 rounded shadow-sm py-5 px-4">
          <img src="/assets/images/profile2.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Chaeeun Kim</h5><span class="small text-uppercase text-muted">Database Programmer</span>
          <ul class="social mb-0 list-inline mt-3">
            <!--<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>-->
            <li class="list-inline-item"><a href="https://github.com/chaeeun-kim" class="social-link"><i class="fab fa-github"></i></a></li>
            <li class="list-inline-item"><a href="mailto:ckim64@my.centennialcollege.ca?" class="social-link"><i class="fas fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5 team-member">
        <div class="color-red3 rounded shadow-sm py-5 px-4">
          <img src="/assets/images/profile5.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Gurvir Singh</h5><span class="small text-uppercase text-muted">UI Programmer</span>
          <ul class="social mb-0 list-inline mt-3">
            <!--<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>-->
            <li class="list-inline-item"><a href="https://github.com/gurvir99" class="social-link"><i class="fab fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/singh-gurvir" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5 team-member">
        <div class="color-red3 rounded shadow-sm py-5 px-4">
          <img src="/assets/images/profile3.png" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Gurwinder Singh</h5><span class="small text-uppercase text-muted">Web Designer</span>
          <ul class="social mb-0 list-inline mt-3">
            <!--<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>-->
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-github"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5 team-member">
        <div class="color-red3 rounded shadow-sm py-5 px-4">
          <img src="/assets/images/profile6.jpg" alt="" width="150" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Jiyeon Jeon</h5><span class="small text-uppercase text-muted">Security Programmer</span>
          <ul class="social mb-0 list-inline mt-3">
            <!--<li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>-->
            <li class="list-inline-item"><a href="https://github.com/Jiyeon-J" class="social-link"><i class="fab fa-github"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/jiyeon-jeon/" class="social-link"><i class="fab fa-linkedin-in"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>
</main>
<!-- [source code] https://bootstrapious.com/p/about-us-page -->