<!--Main Content of the Page-->
 <main>
<br><br>
<h1 class="display-5 text-center mb-5">  <%= title %>  </h1>
  <!--<main class="container p-1 bg-dark-80">-->

  <div class="container py-5">
    <div class="row text-center">
    <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-dark rounded shadow-sm py-5 px-4"><img src="/assets/images/image5.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Heesoo Lim</h5><span class="small text-uppercase text-muted">Project Manager</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-dark rounded shadow-sm py-5 px-4"><img src="/assets/images/image2.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Gurkirat Khaira</h5><span class="small text-uppercase text-muted">Lead Software Programmer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-dark rounded shadow-sm py-5 px-4"><img src="/assets/images/image0.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Chaeeun Kim</h5><span class="small text-uppercase text-muted">Database Programmer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-dark rounded shadow-sm py-5 px-4"><img src="/assets/images/image3.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Gurvir Singh</h5><span class="small text-uppercase text-muted">UI Programmer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-dark rounded shadow-sm py-5 px-4"><img src="/assets/images/image1.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Gurwinder Singh</h5><span class="small text-uppercase text-muted">Web Designer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->
      <!-- Team item-->
      <div class="col-xl-4 col-sm-6 mb-5">
        <div class="bg-dark rounded shadow-sm py-5 px-4"><img src="/assets/images/image4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
          <h5 class="mb-0">Jiyeon Jeon</h5><span class="small text-uppercase text-muted">Sequrity Programmer</span>
          <ul class="social mb-0 list-inline mt-3">
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" class="social-link"><i class="fab fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- End-->

    </div>
  </div>


</main>
<!-- [source code] https://bootstrapious.com/p/about-us-page -->
