<!--Footer bot nav-->
<footer id="footer" style="background-color:#680808;">
  <div class="container pb-3 pt-3 mt-5">
   <div class="row justify-content-md-center">
      <div class="col-3 p-3 pt-5">
        <img src="/assets/images/runnergy2.png" alt="team logo" height="70">
      </div>
      
      <div class="col-2 offset-1 p-3">
        <h3 style="font-family:  'Montserrat Alternates', sans-serif;" class="text-light"><strong>Sitemap</strong></h3>
        <a href="/home" style="font-family: 'Montserrat Alternates', sans-serif; text-align: center;">Home</a><br>
        <a href="/about"style="font-family: 'Montserrat Alternates', sans-serif; text-align: center;">About Us</a><br>
        <a href="/tournament"style="font-family: 'Montserrat Alternates', sans-serif; text-align: center;">Tournament</a><br>
        <a href="/login"style="font-family: 'Montserrat Alternates', sans-serif; text-align: center;">Login</a><br>
        <a href="/register"style="font-family: 'Montserrat Alternates', sans-serif; text-align: center;">Register</a><br>
        <a href="/contact"style="font-family: 'Montserrat Alternates', sans-serif; text-align: center;">Contact Us</a><br>
      </div>

      <div class="col-3 offset-1 p-3">
        <div>
          <h3  style="font-family:'Montserrat Alternates', sans-serif;" class="text-light"><strong>Contact</strong></h3>
          <div class="contact-column mr-3">
            <a title="hlim29@my.centennialcollege.ca" href="mailto:hlim29@my.centennialcollege.ca"style="font-family: 'Montserrat Alternates', sans-serif;"><i class="fas fa-envelope-square"></i>&nbsp; Heesoo Lim</a><br>
            <a title="gsin1530@my.centennialcollege.ca" href="mailto:gsin1530@my.centennialcollege.ca"style="font-family: 'Montserrat Alternates', sans-serif;"><i class="fas fa-envelope-square"></i>&nbsp; Gurwinder Singh</a><br>
            <a title="jjeon24@my.centennialcollege.ca " href="mailto:jjeon24@my.centennialcollege.ca"style="font-family: 'Montserrat Alternates', sans-serif;"><i class="fas fa-envelope-square"></i>&nbsp; Jiyeon Jeon</a><br>
          </div>
          
          <div class="contactcolumn">
            <a title="ckim64@my.centennialcollege.ca" href="mailto:ckim64@my.centennialcollege.ca"style="font-family: 'Montserrat Alternates', sans-serif;"><i class="fas fa-envelope-square"></i>&nbsp; Chaeeun Kim</a><br>
            <a title="gsin1590@my.centennialcollege.ca" href="mailto:gsin1590@my.centennialcollege.ca"style="font-family: 'Montserrat Alternates', sans-serif;"><i class="fas fa-envelope-square"></i>&nbsp; Gurvir Singh</a><br>
            <a title="gkhaira9@my.centennialcollege.ca" href="mailto:gkhaira9@my.centennialcollege.ca"style="font-family: 'Montserrat Alternates', sans-serif;"><i class="fas fa-envelope-square"></i>&nbsp; Gurkirat Khaira</a><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  
   <div style="background-color: #430505">
  <nav class="navbar navbar-custom">
    <h6 class="display-6 text-light" style="font-family: 'Montserrat Alternates', sans-serif;">&copy; Copyright 2020. All Rights Reserved. Tornado by Runnergy</h6>
  </nav>
  </div>
  
</footer>