<!--Footer bot nav-->
  <footer id="footer">
    <nav class="navbar w3-white  w3-card bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2020. All Rights Reserved. Tornado by Runnergy</h6>
    </nav>
  </footer>