<!--Footer bot nav-->
<footer id="footer" class="mt-5">
  <div class="container-fluid">
   <div class="row">
      <div class="color-footer-1 col-lg-4">
        <div class="text-center my-auto py-5">
          <img class="mt-4" src="/assets/images/runnergy2.png" alt="team logo" height="90px">
          <h6 class="mt-5" >&copy; Copyright 2020. All Rights Reserved. Tornado by Runnergy</h6>
        </div>
      </div>

      <div class="color-footer-2 col-lg-4">
        <div class="text-center my-auto py-5">
          <h4 class="text-light d-block"><b>Sitemap</b></h4>
          <a href="/home" >Home</a><br>
          <a href="/about">About Us</a><br>
          <a href="/login">Login</a><br>
          <a href="/register">Register</a><br>
          <a href="/tournament/create">Create Tournament</a><br>
          <a href="/tournament/card">Tournament Card</a><br>
          <a href="/tournament">Tournament Table</a><br>
          
          <!-- <a href="/contact">Contact Us</a><br> -->
        </div>
      </div>

      <div class="color-footer-3 col-lg-4">
        <div class="text-center my-auto py-5 w-100">
          <h4 class="text-light d-block"><b>Our GitHub</b></h4>
          <div class="w-50 float-left mb-4">
            <div>
              <a title="hlim29@my.centennialcollege.ca" href="https://github.com/HeesooLim"><b>Heesoo Lim</b></a><br> 
              <p class="text-secondary role-txt"><b>Project Manager</b></p>
            </div>
            <div>
              <a title="gsin1530@my.centennialcollege.ca" href="https://github.com/Gurwinder6911"><b>Gurwinder Singh</b></a><br>
              <p class="text-secondary role-txt"><b>Web Designer</b></p>
            </div>
            <div>
              <a title="jjeon24@my.centennialcollege.ca " href="https://github.com/Jiyeon-J"><b>Jiyeon Jeon</b></a><br>
              <p class="text-secondary role-txt"><b>Security Programmer</b></p>
            </div>
          </div>
          
          <div class="w-50 float-left mb-4">
            <div>
              <a title="ckim64@my.centennialcollege.ca" href="https://github.com/chaeeun-kim"><b>Chaeeun Kim</b></a><br>
              <p class="text-secondary role-txt"><b>Database Programmer</b></p>
            </div>
            <div>
              <a title="gsin1590@my.centennialcollege.ca" href="https://github.com/gurvir99"><b>Gurvir Singh</b></a><br>
              <p class="text-secondary role-txt"><b>UI Programmer</b></p>
            </div>
            <div>
              <a title="gkhaira9@my.centennialcollege.ca" href="https://github.com/khaira777"><b>Gurkirat Khaira</b></a><br>
              <p class="text-secondary role-txt"><b>Lead Software Engineer</b></p>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="color-footer-background">
    <nav class="navbar">
      <p>Want to know more about us? <a href="https://github.com/Runnergy/Tornado">Visit our GitHub Team Repository!</a> </p>
    </nav>
  </div>
  
</footer>
