<!-- script section-->
  <script src="/scripts/app.js"></script>
  <script  type="module" src="/scripts/connectors.js"></script>
  <script src="\jquery\dist\jquery.min.js"></script>
  <script src="\bootstrap\dist\js\bootstrap.min.js"></script>
</body>
</html>