<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title%></title>
  <link rel="icon" href="/assets/images/favicon.ico" sizes="16x16" type="ICON">
  <!-- css section-->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css" />
  <link rel="stylesheet" href="/content/app.css" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>