<!--homepage-->
<div class="heroContent">
    <span id="heroSpan">
        <h1 id="heroText">Welcome to Tornado</h1>
        <h3 id="heroDescription">Want to create a single elimination tournament? <br>Start your tournament!</h3>
        <a href="/tournament/create" class="btn btn-outline-danger btn-xl" 
            role="button" id="heroCreateBtn">
            Create tournament
        </a>
    </span>
</div>
