<!--homepage-->
<div class="hero-content">
    <span class="vertical-center">
        <h1 id="hero-text">Welcome to Tornado</h1>
        <h3 id="hero-description">Want to create a single elimination tournament? <br>Start your tournament!</h3>
        <a href="/tournament/create" class="btn btn-outline-danger btn-xl" 
            role="button" id="hero-createBtn">
            Create tournament
        </a>
    </span>
</div>
