<!--main nav-->
<nav class="navbar navbar-expand-lg navbar-dark bg-custom py-4" id="main-nav">
  <!--website logo-->
  <a class="navbar-brand" href="/">
    <img src="/assets/images/tornado_big_icon.png" alt="team logo and site name" class="imgabt" height="40" style="margin-right: 0px;" >
    <img src="/assets/images/tornado_text.png" alt="team logo and site name" class="imgabt" height="30">
  </a>

  <!--button for nav bar that appears for small screen devices -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--main nav bar links-->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto">

      <!--checking which page is active to set the active property to the nav bar item-->
      <% if (title == "Home") {%>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %>
      <a class="nav-link" href="/home">
        <!-- <i class="fas fa-lg fa-home"></i>  -->
        HOME </a>
      </li>

        <% if (title == "Tournaments" || title == "Tournaments Cards") { %>
        <li class="nav-item active">
      <% } else  { %>
        <li class="nav-item">
      <% } %>
      <a class="nav-link" href="/tournament/card">
      <!-- <i class="fas fa-trophy"></i>  -->
        TOURNAMENT </a>
      </li>

      <% if (title == "About Us") {%>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %>
      <a class="nav-link" href="/about">
        ABOUT US </a>
      </li>
      

      

      <!-- <% if (title == "Contact Us") {%>
        <li class="nav-item active">
      <% } else { %>
        <li class="nav-item">
      <% } %>
        <a class="nav-link" href="/contact"> CONTACT US </a>
        </li> -->
      
      <div class="d-lg-none d-xl-none">
        <% if(typeof displayName == 'string' && displayName ){ %>
          <li class="navbar-text"><i class="fas fa-lg fa-user"></i> <%= displayName %></li>
          <li class="nav-item">
            <a href="/logout" class="nav-link">
              <i class="fas fa-lg fa-sign-out-alt"></i> Logout
            </a>
          </li>
        <% } else {%>
          <li class="nav-item"><a href="/login" class="nav-link"><i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
        <% } %>
    </div>

    </ul>
  </div>

  <div class=" d-none d-lg-block">
    <% if(typeof displayName == 'string' && displayName ){ %>
      <p><i class="fas fa-lg fa-user"></i> <%= displayName %> &nbsp;
        <a href="/logout" class="btn btn-small text-light color-red3 active-btn ">
          <i class="fas fa-lg fa-sign-out-alt"></i> Logout
        </a>
      </p>
    <% } else {%>
      <a href="/login" class="btn btn-small text-light color-red3 active-btn"><i class="fas fa-lg fa-sign-in-alt"></i> Login</a>
    <% } %>
  </div>
</nav>