<!--main nav-->
  <nav class="navbar fixed-top navbar-expand-lg w3-white bg-dark  w3-card">

    <!--website logo-->
    <a class="navbar-brand" href="/"><strong>&#127744;Tornado</strong></a>

    <!--button for nav bar that appears for small screen devices -->
    <button class="navbar-toggler w3-white bg-dark " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!--main nav bar links-->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <!--checking which page is active to set the active property to the nav bar item-->
        <% if (title == "Home") {%>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-lg fa-home"></i> Home </a>
        </li>

        <% if (title == "About Us") {%>
        <li class="nav-item active">
          <% } else { %>
        <li class="nav-item">
          <% } %>
          <a class="nav-link" href="/about"><i class="fas fa-lg fa-info"></i> About </a>
        </li>

        <% if (title == "Tournaments") { %>
          <li class="nav-item active">
          <% } else  { %>
          <li class="nav-item">
          <% } %>
            <a class="nav-link" href="/tournament"><i class="fas fa-trophy"></i> Tournament </a>
          </li>

      </ul>
    </div>
  </nav>