<h1 class="display-4 text-center pb-4"><%= title %></h1>
<div class="vh-100">
    <div class="row">
        <div class="offset-md-3 col-md-6 p-5 bg-dark-80">
            <form class="form p-5" method="POST">

                <div class="form-group row">
                    <label for="titleTextField" class="col-2 col-form-label">Title</label>
                    <div class="col-10">
                        <input type="text" class="form-control"
                        id="titleTextField"
                        placeholder="Enter title"
                        name="title" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="hostTextField" class="col-2 col-form-label">Host</label>
                    <div class="col-10">
                        <input type="text" class="form-control"
                        id="hostTextField"
                        placeholder="Enter host name"
                        name="hostname" 
                        required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="typeTextField" class="col-2 col-form-label">Status</label>
                    <div class="col-10">
                        <input type="radio" id="active" name="status" value="active"  required>
                        <label for="lblActive">Active</label>&nbsp;&nbsp;
                        <input type="radio" id="inactive" name="status" value="inactive">
                        <label for="lblInactive">Inactive</label><br>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="typeTextField" class="col-2 col-form-label">Type</label>
                    <div class="col-10">
                        <input type="radio" id="fourBouts" name="type" value="4" required>
                        <label for="lblFourBouts">4 Bouts</label>&nbsp;&nbsp;
                        <input type="radio" id="sixteenBouts" name="type" value="8">
                        <label for="lblSixteenBouts">8 Bouts</label><br>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-date-input" class="col-2 col-form-label">Start-End</label>
                    <div class="col-5">
                        <input class="form-control" type="date" value="" id="" name="startdate" required>
                    </div>
                    <div class="col-5">
                        <input class="form-control" type="date" value="" id="" name="enddate"  required>
                    </div>
                </div>

                <div class="form-group">
                <label for="participantTextField">Participants</label>
                <textarea class="form-control" id="participants" name="participants" placeholder="Enter participants" rows="8"  required></textarea></textarea>
                </div>
                
                <div class="form-group text-center row pt-3">
                    <div class="col-6">
                        <button class="btn btn-primary btn-flexible" type="submit">
                            Confirm</button>
                    </div>
                    <div class="col-6">
                        <a href="/tournament" class="btn btn-warning btn-flexible">
                            Cancel</a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>