<h1 class="display-4 text-center pb-4"><%= title %></h1>
<div class="vh-100">
        <div class="offset-md-3 col-md-6">
            <form class="form p-2" method="POST">
                <div class="form-group row">
                    <label for="titleTextField" class="col-2 col-form-label">Title</label>
                    <div class="col-12">
                        <input type="text" class="form-control"
                        id="titleTextField"
                        placeholder="Enter title"
                        name="title" required>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="typeTextField" class="col-2 col-form-label">Type</label>
                    <div class="col-12">
                        <input type="radio" id="fourBouts" name="type" value="4" onclick="displayParticipant()" required>
                        <label for="lblFourBouts">4 Bouts</label>&nbsp;&nbsp;
                        <input type="radio" id="eightBouts" name="type" value="8"  onclick="displayParticipant()">
                        <label for="lblSixteenBouts">8 Bouts</label><br>
                    </div>
                </div>

                <div  id="startenddate" class="form-group row">
                    <label for="example-date-input"  class="col-8 col-form-label">Start-End</label>
                    <div class="col-md-6 col-sm-12 pb-2">
                        <input class="form-control" type="date" value="" id="startdate" name="startdate" required>
                    </div>
                    <div class="col-md-6 col-sm-12 pb-2">
                        <input class="form-control" type="date" value="" id="enddate" name="enddate"  required>
                    </div>
                </div>

                <div class="form-group">
                    <label for="participantTextField">Description</label>
                    <textarea class="form-control" id="description" name="description" placeholder="Enter description" rows="3"  required></textarea>
                </div>

                <div class="form-group">
                    <label for="participantTextField">Participants</label>
                    <div class="form-group" id="fourbout" style="display: none">
                        <small class="form-text text-muted">A total of 8 participants are required for viewing the brackets properly.</small>
                    </div>
                    <div class="form-group" id="eightbout" style="display: none">
                        <small class="form-text text-muted">A total of 16 participants are required for viewing the brackets properly.</small>
                    </div>
                    <textarea class="form-control" id="participants" name="participants" placeholder="Enter participants" rows="8"  required></textarea>
                </div>
                
                <div class="form-group text-center row">
                    <div class="col-lg-6 pt-3">
                        <button class="btn active-btn color-red1 btn-flexible" type="submit" id="btnSubmit">Confirm</button>
                    </div>
                    <div class="col-lg-6 pt-3">
                        <a href="/tournament" class="btn active-btn color-red3 btn-flexible">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    
</div>