<div class="row vh-100">
        <div class="offset-md-3 col-md-6">
            <form class="form" method="POST">

                <div class="form-group">
                    <label for="titleTextField">TITLE</label>
                    <input type="text" class="form-control"
                    id="titleTextField"
                    placeholder="Enter Title"
                    name="title" 
                    value="<%= tournament.title %>"
                    required>
                </div>

                <!-- When the type of tournament is 4 bouts -->
                <% if(tournament.type == "4") { %>
                    <input type="radio" id="fourBouts" name="type" value="4" checked> 
                    <label for="lblFourBouts">4 Bouts</label><br>
                    <input type="radio" id="eightBouts" name="type" value="8">
                    <label for="lblEightBouts">8 Bouts</label><br>
                <% } else {%>
                    <!-- When the type of tournament is 8 bouts -->
                    <input type="radio" id="fourBouts" name="type" value="4">
                    <label for="lblFourBouts">4 Bouts</label><br>
                    <input type="radio" id="eightBouts" name="type" value="8" checked>
                    <label for="lblEightBouts">8 Bouts</label><br>
                <% } %>

                <div class="form-group">
                    <label for="participantTextField">Participants</label>
                    <textarea class="form-control" id="participants"
                    placeholder="Enter Participants"
                    name="participants" 
                    required rows="5"><% for(let count = 0; count < tournament.participants.length; count++) { %><%= tournament.participants[count] %>&#13;&#10;<% } %></textarea>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/tournament" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>


            </form>
        </div>

    </div>