<div class="row">
        <div class="offset-md-3 col-md-6">
            <form class="form" method="POST">
                <div class="form-group">
                    <label for="titleTextField">TITLE</label>
                    <input type="text" class="form-control"
                    id="titleTextField"
                    placeholder="Enter Title"
                    name="title" 
                    value="<%= tournament.title %>"
                    required>
                </div>
                
                <div class="form-group">
                    <label for="participantTextField">Participants</label>
                    <textarea id="participantsTextArea"
                    placeholder="Enter Participants"
                    name="participants" 
                    required rows="4" cols="50"><% for(let count = 0; count < tournament.participants.length; count++) { %><%= tournament.participants[count] %><% } %></textarea>
                </div>
                


                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/tournament" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>


            </form>
        </div>

    </div>