/*custom css goes here*/
html {
    scroll-behavior: smooth;
}

body{
    /* background-color: rgb(131, 131, 131); */
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    color: white;
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #9c0404;
    text-decoration: none;
}

fieldset {
    border: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    background-color: black;
}

/* bootstrap navbar custom color */
.bg-custom {
    background-color: rgba(0, 0, 0, 0);
}

/* button custom size */
/* .btn-xl {
    padding: 20px 30px;
} */

/* Hero Container */
/* .hero-content {
    height: 100vh;
    line-height: 85vh;
    text-align: center;
} */

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

/* Hero heading text */
/* #hero-text {
    display: block;
    font-family: serif;
    font-size: 50px;
    margin-bottom: 20px;
} */

/* Hero description text */
/* #hero-description {
    display: block;
    font-size: 15px;
    margin-bottom: 20px;
} */

footer a:hover {
    text-decoration: none;
    color: rgb(255, 208, 181);
}

.contact-column {
    display: inline-block;
}

.bracket-container table {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

/* long button */
.btn-flexible {
    width: 100%;
    padding: 10px;
}

/* colors from colour swatches */
.color-red4 {
    background-color: #2b0000;
}

.color-red3 {
    background-color: #430505;
}

.color-red2 {
    background-color: #680808;
}

.color-red1 {
    background-color: #9c0404;
}

.color-black {
    background-color: black;
}

/* hover effect when the button is enabled */
.active-btn:hover {
    background-color: #d49191a1;
}

/* bkg color when button is disabled */
.inactive-btn {
    background-color: #303030ab;
}

i {
    color: white;
}

/* dark background color a little bit transparent */
.bg-dark-80 {
    background-color: rgba(73, 73, 73, 0.6);
}

/* light background color a little bit transparent */
.bg-light-80 {
    background-color: rgba(175, 175, 175, 0.8);
}

/* invisible elements */
.invisible {
    display: none;
    visibility: hidden;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }


   /* participant container in the brackets */
.participant {
    background-color: #363636e3;
    width: 150px;
    text-align: left;
    margin: 10px;
    border-radius: 3px;
    height: 50px;    
}

.participant:hover {
    background-color: #696969e3;
    transition: 0.3s;
}

/* participant number */
.participant-num {
    float: left;
    text-align: center;
    background-color: rgba(197, 197, 197, 0.205);
    width: 30px;
    height: 100%;
    padding: 5px;
    color: black;
    display: grid;
}

/* name of the participant */
.participant-name {
    float: left;
    padding: 5px 10px;
    width: 110px;
    height: 100%;
    font-size: 13px;
    display: grid;
}

  
a.active { cursor: pointer; }

/* homepage */
/* logo image */
#tornado-logo-img {
    height: 60%;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}

/* logo text */
#tornado-logo-txt {
    height: 28%;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}

/* welcome to tornado desc */
#hero-description {
    top:75%;
    left:50%;
    width: 100%;
    transform:translate(-50%, -50%);
}

#hero-dragon {
    height: 100%;
    bottom:20px;
    right:-350px;
}

#hero-description h6 {
    font-family: 'Nova Slim', cursive;
    text-decoration: underline overline;
    letter-spacing: 20px;
    color: rgb(190, 190, 190);
    font-size: 13px;
    text-align: center;
}

.home-options {
    text-align: center;
    padding: 10% 0;
}

.home-options p {
    color: rgb(88, 88, 88);
    padding: 0 10%;
}

.home-options:nth-of-type(1) .rounded-circle {
    background-color: #7D2020;
}

.home-options:nth-of-type(2) .rounded-circle {
    background-color: #B23B3B;
}

.home-options:nth-of-type(3) .rounded-circle {
    background-color: #A72424;
}

.home-page img {
    height: 100%;
    
}

.option-image img {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
    padding: 30px;
}

.option-image {
    width: 120px;
    margin: 0px auto;
}

/* tablet */
@media (max-width: 770px) {
    /* homepage */
    #tornado-logo-img {
        height: 50%;
    }

    #tornado-logo-txt {
        height: 20%;
    }

    #hero-description {
        top:70%;
    }

    #hero-description h6 {
        letter-spacing: 14px;
        color: rgb(190, 190, 190);
        font-size: 7px;
    }

    /*tables*/
    table.responsive span[data-type="responsive"] {
        display: inline-block;
        width: 45%;
        color: #a8a8a8;
        vertical-align: top;
    }

    table.responsive,
    table.responsive thead,
    table.responsive tbody,
    table.responsive th,
    table.responsive td,
    table.responsive tr {
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */
        display: block;
        text-align: center;
    }

    html.ie9 table.responsive,
    html.ie9 table.responsive thead,
    html.ie9 table.responsive tbody,
    html.ie9 table.responsive th,
    html.ie9 table.responsive td,
    html.ie9 table.responsive tr {
        float: left;
        clear: both;
        width: 100%
    }

    table.responsive tr {
        border: 1px solid #ccc;
    }

    table.responsive td {
        border: none;
        text-align: center;
    }

    table.responsive th {
        display: none;
        text-align: center;
    }
}

/* mobile */
@media (max-width: 425px) {
    /* homepage */
    #tornado-logo-img {
        height: 30%;
        top: 30%;
    }

    #tornado-logo-txt {
        height: 12%;
        top: 40%;
    }

    #hero-description {
        top:46%;
    }

    #hero-description h6 {
        letter-spacing: 8px;
        color: rgb(190, 190, 190);
        font-size: 7px;
    }

    /*tables*/
    table.responsive span[data-type="responsive"] {
        display: inline-block;
        width: 45%;
        color: #a8a8a8;
        vertical-align: top;
    }

    table.responsive,
    table.responsive thead,
    table.responsive tbody,
    table.responsive th,
    table.responsive td,
    table.responsive tr {
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */
        display: block;
        text-align: center;
    }

    html.ie9 table.responsive,
    html.ie9 table.responsive thead,
    html.ie9 table.responsive tbody,
    html.ie9 table.responsive th,
    html.ie9 table.responsive td,
    html.ie9 table.responsive tr {
        float: left;
        clear: both;
        width: 100%
    }

    table.responsive tr {
        border: 1px solid #ccc;
    }

    table.responsive td {
        border: none;
        text-align: center;
    }

    table.responsive th {
        display: none;
        text-align: center;
    }
}

/*imgabt function to scale the image on hover*/
.imgabt {
    -moz-transition: -moz-transform 0.2s ease-out;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.imgabt:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/*responsive table css*/
table.responsive span[data-type="responsive"] {
    display: none;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 25px;
}

table td,
table th {
    border: none;
    padding: 8px;
    text-align: center;
}

table tr:first-child td {
    background-color: #000000;
}

table tr:nth-child(even) {
    background-color: #333333;
}

table tr:nth-child(odd) {
    background-color: #404040;
}

table tr:hover {
    background-color: #262626;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}