/*custom css goes here*/
body{
    background-color: black;
    /* background-image: url("../assets/images/boxing1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}