/*custom css goes here*/
html {
    scroll-behavior: smooth;
}

body{
    /* background-color: rgb(131, 131, 131); */
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#main-nav {
    z-index: 100;
}

a:hover {
    color: #ce8a8a;
    text-decoration: none;
}

fieldset {
    border: none;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
    /* Footer height */
}

#footer {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

#about-page h1, #about-page h2, #about-page h3, #about-page h4 {
    font-family: 'Montserrat', sans-serif;
}

#footer h3, #footer h4, #footer h5 {
    font-family: 'Montserrat', sans-serif;
}

.role-txt {
    font-size: 12px;
}

/* bootstrap navbar custom color */
.bg-custom {
    background-color: rgba(0, 0, 0, 0);
}

/* button custom size */
/* .btn-xl {
    padding: 20px 30px;
} */

/* Hero Container */
/* .hero-content {
    height: 100vh;
    line-height: 85vh;
    text-align: center;
} */

.vertical-center {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#result-wrapper {
    background: linear-gradient(360deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7570378493194152) 35%, rgba(0,0,0,0.785049053801208) 71%, rgba(0,0,0,0) 100%);
}

/* Hero heading text */
/* #hero-text {
    display: block;
    font-family: serif;
    font-size: 50px;
    margin-bottom: 20px;
} */

/* Hero description text */
/* #hero-description {
    display: block;
    font-size: 15px;
    margin-bottom: 20px;
} */

footer a:hover {
    text-decoration: none;
    color: rgb(255, 208, 181);
}

.bracket-container table {
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

/* long button */
.btn-flexible {
    width: 100%;
    padding: 10px;
}

/* colors from colour swatches */
.color-red4 {
    background-color: #2b0000;
}

.color-red3 {
    background-color: #430505;
}

.color-red2 {
    background-color: #680808;
}

.color-red1 {
    background-color: #9c0404;
}

.color-black {
    background-color: black;
}

.pattern-background {
    background-image: url('../assets/images/pattern3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.pattern-background-cover {
    opacity: 0.8;
    background-color: #430505;
    top: 0;
    left: 0;
}

.trophy-img {
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}

.welcome-message {
    top:80%;
    left:50%;
    transform:translate(-50%, -50%);
}


.color-footer-1 {
    background-color: #560500;
}

.color-footer-2 {
    background-color: #490000;
}

.color-footer-3 {
    background-color: #3D0000;
}

.color-footer-background {
    background-color: #250000;
}

.authentication-page {
    background: linear-gradient(360deg, rgba(0,0,0,0) 0%, rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0.7) 90%, rgba(0,0,0,0) 100%);
}

.authentication-page h1, 
.authentication-page h2, 
.authentication-page h3, 
.authentication-page h4, 
.authentication-page h5, 
.authentication-page h6,
.authentication-page p,
.authentication-page small,
.authentication-page label {
    font-family: 'Montserrat', sans-serif;
}

/* .authentication-page input[type="text"], .authentication-page input[type="password"], .authentication-page input[type="email"] {
    font-family: Arial, Helvetica, sans-serif;
} */

#main-nav {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}

#main-nav ul li {
    padding: 0 10px;
}

/* .authentication-container {
    background-color: rgb(110, 44, 44);
    
} */

/* hover effect when the button is enabled */
.active-btn:hover {
    background-color: #d49191a1;
}

/* bkg color when button is disabled */
.inactive-btn {
    background-color: #303030ab;
}

i {
    color: white;
}

/* dark background color a little bit transparent */
.bg-dark-80 {
    background-color: rgba(73, 73, 73, 0.6);
}

/* light background color a little bit transparent */
.bg-light-80 {
    background-color: rgba(175, 175, 175, 0.8);
}

/* invisible elements */
.invisible {
    display: none;
    visibility: hidden;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }


   /* participant container in the brackets */
.participant {
    background-color: rgb(43, 43, 43);
    width: 150px;
    text-align: left;
    margin: 10px;
    border-radius: 3px;
    height: 50px;    
    z-index: 100;
}

/* .participant:hover {
    background-color: #696969e3;
    transition: 0.3s;
} */

/* participant number */
.participant-num {
    float: left;
    text-align: center;
    background-color: rgba(197, 197, 197, 0.205);
    width: 30px;
    height: 100%;
    padding: 5px;
    color: black;
    display: grid;
}

/* name of the participant */
.participant-name {
    float: left;
    padding: 5px 10px;
    width: 110px;
    height: 100%;
    text-align: center;
    font-size: 13px;
    display: grid;
}

  
a.active { cursor: pointer; }

/* homepage */
/* logo image */
#tornado-logo-img {
    height: 60%;
    top:40%;
    left:50%;
    transform:translate(-50%, -50%);
}

/* logo text */
#tornado-logo-txt {
    height: 28%;
    top:60%;
    left:50%;
    transform:translate(-50%, -50%);
}

/* welcome to tornado desc */
#hero-description {
    top:75%;
    left:50%;
    width: 100%;
    transform:translate(-50%, -50%);
}

/* home page dragon */
#hero-dragon {
    height: 100%;
    bottom:20px;
    right:-350px;
    z-index: -1;
}

/* home page h6 under text logo */
#hero-description h6 {
    font-family: 'Nova Slim', cursive;
    text-decoration: underline overline;
    letter-spacing: 20px;
    color: rgb(190, 190, 190);
    font-size: 13px;
    text-align: center;
}

/* home page option container */
.home-options {
    text-align: center;
    padding: 10% 0;
}

.home-options p {
    color: rgb(88, 88, 88);
    padding: 0 10%;
}

.home-options:nth-of-type(1) .rounded-circle {
    background-color: #7D2020;
}

.home-options:nth-of-type(2) .rounded-circle {
    background-color: #B23B3B;
}

.home-options:nth-of-type(3) .rounded-circle {
    background-color: #A72424;
}

/* home page image */
.home-page img {
    height: 100%;
}

.option-image img {
    width:100%;
    height:100%;
    object-fit: cover;
    overflow: hidden;
    padding: 30px;
}

.option-image {
    width: 120px;
    margin: 0px auto;
}

#tournament-card-page img {
    width: 100%;
}

#touament-logo-txt {
    width: 80%;
}

.tournament-card-overlay {
    background-image: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.555) 100%);    
    opacity: 0;
}

.tournament-card:hover .tournament-card-overlay {
    opacity: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: 50;
}

/* hidden active button when tournament is not active (tournament card page) */
.btn-hidden {
    opacity: 0;
}

/* absolute active div in tournament card page */
.status-active-btn {
    top: 95px;
    left:50%;
    transform:translate(-50%, -50%);
}

body::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 0px;
}

/* tablet */
@media (max-width: 770px) {
    /* homepage */
    #tornado-logo-img {
        height: 50%;
    }

    #tornado-logo-txt {
        height: 20%;
    }

    #hero-description {
        top:70%;
    }

    #hero-description h6 {
        letter-spacing: 14px;
        color: rgb(190, 190, 190);
        font-size: 7px;
    }

    /*tables*/
    table.responsive span[data-type="responsive"] {
        display: inline-block;
        width: 45%;
        color: #a8a8a8;
        vertical-align: top;
    }

    table.responsive,
    table.responsive thead,
    table.responsive tbody,
    table.responsive th,
    table.responsive td,
    table.responsive tr {
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */
        display: block;
        text-align: center;
    }

    html.ie9 table.responsive,
    html.ie9 table.responsive thead,
    html.ie9 table.responsive tbody,
    html.ie9 table.responsive th,
    html.ie9 table.responsive td,
    html.ie9 table.responsive tr {
        float: left;
        clear: both;
        width: 100%
    }

    table.responsive tr {
        border: 1px solid #ccc;
    }

    table.responsive td {
        border: none;
        text-align: center;
    }

    table.responsive th {
        display: none;
        text-align: center;
    }
    
    
}

/* mobile */
@media (max-width: 425px) {
    /* homepage */
    #tornado-logo-img {
        height: 30%;
        top: 30%;
    }

    #tornado-logo-txt {
        height: 12%;
        top: 40%;
    }

    #hero-description {
        top:46%;
    }

    #hero-description h6 {
        letter-spacing: 8px;
        color: rgb(190, 190, 190);
        font-size: 7px;
    }

    /*tables*/
    .responsive span[data-type="responsive"] {
        display: inline-block;
        width: 45%;
        color: #a8a8a8;
        vertical-align: top;
    }

    .responsive,
    .responsive thead,
    .responsive tbody,
    .responsive th,
    .responsive td,
    .responsive tr {
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        /* Opera/IE 8+ */
        display: block;
        text-align: center;
    }

    html.ie9 .responsive,
    html.ie9 .responsive thead,
    html.ie9 .responsive tbody,
    html.ie9 .responsive th,
    html.ie9 .responsive td,
    html.ie9 .responsive tr {
        float: left;
        clear: both;
        width: 100%
    }

    .responsive tr {
        border: 1px solid #ccc;
    }

    .responsive td {
        border: none;
        text-align: center;
    }

    .responsive th {
        display: none;
        text-align: center;
    }
}

/*imgabt function to scale the image on hover*/
.imgabt {
    -moz-transition: -moz-transform 0.2s ease-out;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.imgabt:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

/*responsive table css*/
.responsive span[data-type="responsive"] {
    display: none;
}

.responsive {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 25px;
}

.responsive td,
.responsive th {
    border: none;
    padding: 8px;
    text-align: center;
}

.responsive tr:first-child td {
    background-color: #000000;
}

.responsive tr:nth-child(even) {
    background-color: #333333;
}

.responsive tr:nth-child(odd) {
    background-color: #404040;
}

.responsive tr:hover {
    background-color: #262626;
}

.responsive th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}